@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.button {
    height: 96px;
    min-width: 96px;
    border-radius: 48px;
    color: $rps-gold;
    background-color: $rps-black;
    padding: 0 64px;
    font-size: 56px;
    font-weight: 500;
    line-height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $rps-gold;
    text-transform: uppercase;

    @include mobile {
        height: 48px;
        min-width: 64px;
        border-radius: 32px;
        padding: 0 32px;
        font-size: 32px;
        line-height: 40px;
    }
}

.dence {
    height: 40px;
    min-width: 40px;
    border-radius: 20px;
    padding: 0 8px;
    font-size: 22px;
    line-height: 1;

    @include mobile {
        height: 32px;
        min-width: 32px;
        border-radius: 16px;
        font-size: 16px;
        line-height: 20px;
    }
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}