@import 'src/styles/variables.scss';

.button {
    height: 96px;
    min-width: 96px;
    border-radius: 48px;
    color: $rps-gold;
    background-color: $rps-black;
    padding: 0 64px;
    font-size: 56px;
    font-weight: 500;
    line-height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $rps-gold;
    text-transform: uppercase;
}

.dence {
    height: 40px;
    min-width: 40px;
    border-radius: 20px;
    padding: 0 4px;
    font-size: 24px;
    line-height: 28px;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}