// Colors
$rps-black: #000000;
$rps-white: #FFFFFF;
$rps-blue: #225Eff;
$rps-red: #E31542;
$rps-green: #16C359;
$rps-gold: #D4B37F;
$rps-gray: #494949;

// Sizes
$topbar-height-desktop: 60px;
$topbar-height-mobile: 40px;


:export {
    rpcBlack: $rps-black;
    rpcWhite: $rps-white;
    rpcBlue: $rps-blue;
    rpcRed: $rps-red;
    rpcGreen: $rps-green;
    rpcGold: $rps-gold;
    rpcGray: $rps-gray;
}
