@import 'src/styles/variables.scss';

.bettingPositionCard {
    width: 248px;
    height: 248px;
    border-radius: 24px;
    background-color: $rps-black;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: 2px solid transparent;
}

.amount {
    min-width: 64px;
    height: 64px;
    border-radius: 32px;
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
    color: $rps-black;
    background-color: $rps-white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    padding: 0 4px;
    border: 2px solid $rps-blue;
}

.title {
    font-size: 48px;
    font-weight: 500;
    line-height: 24px;
    color: $rps-white;
    text-transform: uppercase;
}