@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 64px;
    background: linear-gradient(180deg, $rps-gray 0%, $rps-black 100%);
}

.bettingMessage {
    color: $rps-gold;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin:  auto auto 0 auto;
    text-transform: uppercase;
}

.gameArea {
    height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mobile {
        height: 20vh;
    }
}

.playStage {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    font-weight: 700;
    color: $rps-white;
    text-transform: uppercase;

    @include mobile {
        font-size: 32px;
    }

    span {
        margin: 0 32px;
        font-size: 48px;
        color: $rps-gold;

        @include mobile {
            font-size: 24px;
            margin: 0 16px;
        }
    }
}

.winningPosition {
    font-size: 64px;
    text-transform: uppercase;
    color: $rps-gold;

    @include mobile {
        font-size: 32px;
    }
}

.resultMessage {
    font-size: 48px;
    text-transform: uppercase;
    color: $rps-gold;
    margin-top: 24px;

    @include mobile {
        font-size: 24px;
        margin-top: 8px;
    }
    
    span {
        color: $rps-white;
    }
}

.positionsArea {
    height: 33vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: flex-end;

    @include mobile {
        height: 50vh;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0 16px;
    }
}

.position {
    display: flex;
    flex-direction: column;
    margin: 24px;

    @include mobile {
        width: 100%;
        margin: 16px 0 0 0;
        align-items: flex-end;
    }
}

.betAmount {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;

    @include mobile {
        margin-bottom: 8px;
    }

    span {
        font-size: 24px;
        font-weight: 500;
        line-height: 26px;
        color: $rps-gold;
        padding: 0 16px;

        @include mobile {
            font-size: 16px;
            line-height: 18px;
        }
    }
}

.buttonWrapper {
    margin-top: auto;
    height: 10vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
